<div class="container-fluid cart-list">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form name="checkoutInfo" class="checkoutInfoForm myform" stripe-form="stripeCallback">

        <h2 class="text-center">Set Informations</h2>
        <!-- <h3 class="text-center">Login to shop</h3> -->
        <p ng-hide="validateCardNumber" style="background-color: #942a25">
          {{formError}}
        </p>
        <div class="form-group">
          <label class="control-label">Credit Card Info</label>
          <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" class="form-control"/>
          <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="control-label">Expiration Date</label>
          <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" class="form-control"/>
        </div>

        <div class="submit-payment">
          <button type="submit" class="btn btn-right">Submit Payment</button>
        </div>
      </form>
    </div>
  </div>
</div>




