@font-face {
  font-family: "Kelvetica";
  src: url('../../fonts/Kelvetica Nobis.otf?1452663708') format('opentype');
}
/* line 3, ../partials/_skin.scss */
body {
  font-family: "Kelvetica";
  font-size: 1.5em;
  margin-top: 5%;
  background-color: white;
}

/* line 10, ../partials/_skin.scss */
h3 {
  color: darkcyan;
}

/* line 1, ../partials/_shell.scss */
.container {
  width: 970px;
  margin: 0 auto;
}

/* line 6, ../partials/_shell.scss */
p {
  margin-top: 5rem;
}

/* line 10, ../partials/_shell.scss */
button {
  margin-bottom: 5rem;
}
